.footer {
    margin-top: 170px;
    padding: 68px 0;
    background-color: #000;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div {
        text-align: right;
        color: #fff;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    }
}