.join {
    margin-top: 170px;
    text-align: center;
    &__wrapper {
        max-width: 1028px;
        margin: 0 auto;
    }
    .section-subtitle {
        margin-top: 15px;
        line-height: 34px;
    }
    &__screenshot {
        width: 100%;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 23px rgba(0, 0, 0, 0.63));
        margin-top: 70px;
    }
    &__btn {
        display: block;
        width: 100%;
        background-color: #000;
        color: #fff;
        font-size: 42px;
        line-height: 49px;
        font-weight: 700;
        margin-top: 70px;
        padding: 26px 50px;
        border-radius: 10px;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}