hr {
    margin: 0;
}

section.offer-terms .legal-info-wrapper {
    display: flex;
}

.legal-info-wrapper .main-block__legal-info {
    width: 100%;
    background: #fff;
    border-radius: 6px;
}

.main-block__help-navbar ul {
    display: flex;
    padding-left: 45px;
}

.main-block__help-navbar li {
    padding: 22px 22px 10px 22px;
    border-bottom: 1.75px solid #fff;
    transition: .3s;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.main-block__help-navbar li:hover {
    background: #F5F5F5;
}

.main-block__help-navbar li.active {
    font-weight: 500;
    border-bottom: 1.75px solid #000;
    color: #000;
}

.main-block__legal-info .document-wrapper {
    padding: 30px 45px 40px 45px;
    display: none;
}

.main-block__legal-info .document-wrapper.active {
    display: block;
}

.legal-info-wrapper .document-wrapper {
    padding: 30px 45px 30px 45px;
}

.legal-info-wrapper .document-wrapper h3 {
    text-align: center;
    margin-bottom: 10px;
}

.legal-info-wrapper .document-wrapper h4 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.legal-info-wrapper .document-wrapper h5 {
    margin: 22.5px 0 12.5px 0;
    text-align: center;
}

.legal-info-wrapper .document-wrapper p,
.legal-info-wrapper .document-wrapper ul li {
    font-size: 14px;
    margin-bottom: 12.5px;
}

.legal-info-wrapper .document-wrapper ul {
    list-style-type: square;
    margin-left: 30px;
}

.legal-info-wrapper .document-wrapper ul li {
    display: list-item;
}

.legal-info-wrapper .contacts-block {
    width: 350px;
    height: 191px;
    margin-left: 31px;
    flex-shrink: 0;
    position: sticky;
    top: 1.5em;
}

@media screen and (max-width: 1199px) {
    .legal-info-wrapper .contacts-block {
        width: 290px;
    }
}
@media screen and (max-width: 991px) {
    section.offer-terms .legal-info-wrapper {
        display: block;
    }
    .legal-info-wrapper .contacts-block {
        width: 100%;
        height: 149px;
        margin: 40px 0 0 0;
    }
}
@media screen and (max-width: 767px) {
    .main-block__help-navbar::-webkit-scrollbar {
        display: none;
    }
    .main-block__help-navbar ul {
        padding-left: 40px;
    }
    .main-block__help-navbar {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .legal-info-wrapper .document-wrapper h3 {
        font-size: 26px;
    }
    .legal-info-wrapper .contacts-block {
        height: 191px;
        margin-top: 40px;
    }
}
@media screen and (max-width: 575px) {
    .main-block__legal-info .document-wrapper {
        padding: 5.22vw;
    }
    .main-block__help-navbar ul {
        padding-left: 26px;
    }
    .legal-info-wrapper .document-wrapper h3 {
        font-size: 4.52vw;
        margin-bottom: 1.74vw;
    }
    .legal-info-wrapper .document-wrapper h4 {
        font-size: 3.13vw;
        margin-bottom: 5.22vw;
    }
    .legal-info-wrapper .document-wrapper h5 {
        margin: 3.83vw 0 2.09vw 0;
        font-size: 2.96vw;
    }
    .legal-info-wrapper .document-wrapper p,
    .legal-info-wrapper .document-wrapper ul li {
        font-size: 2.43vw;
        margin-bottom: 2.09vw;
    }
    .legal-info-wrapper .document-wrapper ul {
        margin-left: 5.22vw;
    }
}
@media screen and (max-width: 424px) {
    .main-block__help-navbar ul {
        padding-left: 20px;
    }
    .legal-info-wrapper .document-wrapper h3 {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .legal-info-wrapper .document-wrapper h4 {
        font-size: 13px;
        margin-bottom: 23px;
    }
    .legal-info-wrapper .document-wrapper h5 {
        margin: 16px 0 9px 0;
        font-size: 12px;
    }
    .legal-info-wrapper .document-wrapper p,
    .legal-info-wrapper .document-wrapper ul li {
        font-size: 10px;
        margin-bottom: 9px;
    }
    .legal-info-wrapper .document-wrapper ul {
        margin-left: 7.08vw;
    }
    .legal-info-wrapper .contacts-block {
        margin-top: 30px;
    }
}