hr {
    margin: 0;
}

.ui-elements__account {
    padding: 13px 0 34px 0;
}

.search-history {
    margin: 0;
}

.main-block__account {
    background: #fff;
    border-radius: 6px;
}

.main-block__account-navbar {
    background: #fff;
    border-radius: 6px 6px 0px 0px;
}

.main-block__account-navbar ul {
    display: flex;
    padding-left: 45px;
}

.main-block__account-navbar li {
    padding: 22px 22px 10px 22px;
    border-bottom: 1.75px solid #fff;
    transition: .3s;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.main-block__account-navbar li:hover {
    background: #F5F5F5;
}

.main-block__account-navbar li.active {
    border-bottom: 1.75px solid #000;
}

.main-block__account-tab {
    display: none;
}

.main-block__account-tab.active {
    display: block;
}

.account-favorites__summary {
    padding: 21px 45px 30px 45px;
}

.account-favorites__summary .info-content {
    display: flex;
    align-items: center
}

.account-favorites__summary .info-content__title {
    font-weight: 700;
    margin-right: 15px;
}

.account-favorites__summary .info-content__num-wrapper{
    width: 35px;
    height: 35px;
    background: #373737;
    border-radius: 50%;
    flex-shrink: 0;
}

.account-favorites__summary .info-content__num {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 5px 0 5px 0;
}

.account-favorites__summary .info-content__num a {
    color: #fff;
    text-decoration: none;
}

.account-favorites__summary .notification {
    font-size: 14px;
    margin-top: 15px;
}

.good-in-favorites__content {
    margin: 30px 45px 30px 45px;
}

.good-in-favorites__basic-part {
    display: flex;
}

.good-in-favorites__img {
    width: 79px;
    height: 79px;
}

.good-in-favorites__img img {
    width: 79px;
    height: 79px;
    border-radius: 6px;
}

.good-in-favorites__elements-wrapper {
    width: 100%;
    margin-left: 25px;
}

.good-in-favorites__elements-row {
    display: flex;
    width: 536px;
}

.product-name {
    margin-right: 40px;
}

.product-name a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    color: #000;
    width: 475px;
    transition: 0.3s;
}

.product-name a:hover {
    color: #000;
}

.good-in-favorites__delete-icon {
    width: 19px;
    height: 19px;
    margin-top: 1px;
    margin-left: auto;
    cursor: pointer;
}

.good-in-favorites__code {
    color: #7D7D7D;
    margin-top: 4px;
}

.good-in-favorites__elements-row__bottom.desktop {
    display: flex;
    margin-top: 3px;
    position: relative;
}

.good-in-favorites__price-wrapper {
    margin-top: 10px;
}

.good-in-favorites__price-wrapper {
    font-size: 17px;
    font-weight: 900;
    text-decoration: none;
}

.good-in-favorites__price-wrapper del bdi {
    position: absolute;
    bottom: 19px;
    left: 60px;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: normal;
}

.good-in-favorites__link {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    margin: 12.5px 0 0 auto;
}

.good-in-favorites__link:hover {
    color: #000;
}

.account-favorites__added__bottom-elements {
    padding: 30px 44px 30px 44px;
}

.account-favorites__added-btn {
    width: 312px;
    height: 40px;
    display: block;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
}

.account-favorites__none {
    padding: 30px 45px 30px 45px;
}

.account-favorites__none-text {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.account-favorites__none-text__first {
    font-weight: 600;
    margin-bottom: 10px;
}

.main-block__account-orders .account-order {
    padding: 30px 45px 30px 45px;
}

.account-order .account-order__row-top {
    display: flex;
}

.account-order .account-order__title {
    font-size: 21px;
    font-weight: 700;
    margin-right: 15px;
}

.account-order .account-order__date-wrapper {
    display: flex;
}

.account-order .account-order__date {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    margin: 5px 7px 0 0;
}

.account-order .account-order__time {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 5px;
}

.account-order .account-order__descr {
    font-size: 16px;
    margin: 20px 0 10px 0; 
}

.account-order .account-order__descr li {
    margin-bottom: 5px;
}

.account-order__descr .account-order__value {
    margin-left: 5px;
    font-weight: 500;
    color: #000;
    font-weight: 500;
}

.account-order__descr .account-order__value.green {
    color: #02810E;
}

.account-order__descr .account-order__value.yellow {
    color: #F39200;
}

.account-order__descr .account-order__value.red {
    color: #FF5151;
}

.account-order__details .details-row {
    display: flex;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.account-order__details .details-row__title {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.account-order__details .details-row__icon {
    width: 11px;
    cursor: pointer;
    margin: 2px 0 0 10px;
    transform: rotate(0deg);
    transition: all 0.3s ease 0s;
}

.account-order__details .details-row__icon.active {
    transform: rotate(180deg);
}

.account-order__details .details-dropdown {
    display: none;
}

.account-order__details .details-dropdown.active {
    display: block;
}

.account-order__detail {
    display: flex;
    margin-top: 30px;
}

.account-order__detail:first-child {
    margin-top: 20px;
}

.account-order__detail img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.account-order__detail .detail-descr {
    margin-left: 20px;
}

.account-order__detail .detail-descr__name {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.account-order__detail .detail-descr__name a {
    color: #000;
    transition: 0.3s;
    text-decoration: none;
}

.account-order__detail .detail-descr__name a:hover {
    color: #000;
}

.account-order__detail .detail-descr__row {
    display: flex;
    margin-top: 8px;
}

.account-order__detail .detail-descr__price {
    font-size: 16px;
    color: #5B5B5B;
}

.account-order__detail .detail-descr__amount {
    display: flex;
    margin-left: 30px;
    font-size: 16px;
    color: #5B5B5B;
}

.detail-descr__amount .square {
    background: #fff;
    border-radius: 6px;
    border: 0.25px solid #bbbbbb;
    width: 36px;
    height: 23px;
    text-align: center;
    align-items: center;
    margin-right: 7px;
}

.account-order__detail .detail-descr__price-summary {
    font-size: 16px;
    margin-left: 30px;
}

.account-orders__added hr:last-child {
    display: none;
}

.main-block__account-orders .account-orders__empty {
    padding: 60px 45px 60px 45px;
    text-align: center;
}

.main-block__account-orders .account-orders__empty-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-block__account-orders .account-orders__empty .btn {
    height: 45px;
    padding: 10px;
}

.main-block__account-testimonials .testimonial-wrapper {
    padding: 30px 45px 30px 45px;
}

.main-block__account-testimonials .testimonial {
    width: 100%;
    display: flex;
}

.testimonial-wrapper .elements-bundle.mobile {
    display: none;
}

.testimonial .testimonial_image {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

.testimonial .testimonial-elements_container {
    margin-left: 25px;
    width: 100%;
}

.testimonial-elements_container .elements-bundle:first-child {
    display: flex;
}

.elements-bundle:first-child a.testimonial_product-name {
    font-size: 16px;
    text-decoration: underline;
    color: #000;
    transition: 0.3s;
    margin-right: 30px;
}

.elements-bundle:first-child a.testimonial_product-name:hover {
    color: #000;
}

.elements-bundle:first-child p.testimonial-date {
    flex-shrink: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    margin: 2px 0 0 auto;
}

.elements-bundle:first-child p.testimonial-date span {
    margin-left: 4px;
}

.testimonial-elements_container .elements-bundle:nth-child(2) {
    margin-top: 15px;
}

.elements-bundle:nth-child(2) p.testimonial-content__heading {
    font-size: 14px;
    font-weight: 600;
}

.elements-bundle:nth-child(2) p.testimonial-content__text {
    font-size: 14px;
}

.account-testimonials__added hr:last-child {
    display: none;
}

.main-block__account-testimonials .account-testimonials__empty {
    padding: 60px 45px 60px 45px;
    text-align: center;
    font-size: 16px;
}

.main-block__account-testimonials .account-testimonials__empty__first {
    font-weight: 600;
    margin-bottom: 10px;
}

.main-block__account-testimonials .account-testimonials__empty__second {
    font-weight: 500;
}

.main-block__account-edit .account-initials,
.main-block__account-edit .account-contacts,
.main-block__account-edit .account-password,
.main-block__account-edit .account-confirmation {
    padding: 30px 45px 30px 45px;
}

.main-block__account-edit .input-wrapper {
    margin-bottom: 20px;
}

.main-block__account-edit .input-heading {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12.5px;
}

.main-block__account-edit .input-heading span {
    color: #ff6565;
    margin-left: 3px;
}

.main-block__account-edit .input-edit {
    width: 100%;
    height: 35px;
    padding-left: 22px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.main-block__account-edit .account-initials .input-wrapper:nth-child(3n),
.main-block__account-edit .account-contacts .input-wrapper:nth-child(2n),
.main-block__account-edit .account-password .input-wrapper:nth-child(3n) {
    margin-bottom: 0;
}

.main-block__account-edit .btn {
    width: 100%;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    padding-top: 9px;
}

.account-preview .btn-wrapper .btn {
    padding-top: 8.5px;
}

.additional-blocks__account {
    display: block;
}

.additional-blocks__account .account-preview {
    background: #fff;
    border-radius: 6px;
}

.account-preview__client-image {
    text-align: center;
    padding: 30px 30px 20px 30px;
}

.account-preview__client-image .uploaded-image {
    width: 110px;
    height: 110px;
    filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.08));
    border: 1px solid #dfdfdf;
    border-radius: 50%;
}

.account-preview__client-image .press-to-upload_image {
    cursor: pointer;
    font-weight: 600;
    color: #00000073;
    margin: 10px 0 15px 0;
}

.account-preview__client-image .client-initials {
    font-size: 21px;
    font-weight: 600;
}

.account-preview__client-contacts,
.account-preview__client-info {
    padding: 20px 30px 20px 30px;
}

.account-preview__client-contacts .client-contacts__wrapper,
.account-preview__client-info .client-info__wrapper {
    display: flex;
    margin-bottom: 10px;
}

.account-preview__client-contacts .client-contacts__wrapper:nth-child(2n),
.account-preview__client-info .client-info__wrapper:nth-child(2n) {
    margin-bottom: 0;
}

.account-preview__client-contacts .client-contacts__wrapper img,
.account-preview__client-info .client-info__wrapper img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.client-contacts__wrapper .phone-text {
    margin-top: 0.5px;
}

.client-info__wrapper .delivered-number,
.reviews-text .reviews-number {
    margin-left: 5px;
    font-weight: 500;
}

.additional-blocks__account .btn {
    width: 310px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 20px;
}

.additional-blocks__account .contacts-block {
    margin-top: 30px;
}

.testimonial_image.mobile {
    margin-right: 20px;
    display: none;
}

.good-in-favorites__elements-row__bottom.mobile {
    position: relative;
    display: none;
}

/* 992px - 1200px */
@media screen and (max-width: 1199px) {
    .good-in-favorites__elements-row__bottom .selling-block__event-icons .selling-block__event-icon:nth-child(3) {
        display: none;
    }
    .main-block__account-navbar {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        display: block;
    }
    .main-block__account-navbar::-webkit-scrollbar {
        display: none;
    }
    .main-block__account-navbar ul {
        padding-left: 10px;
    }
    .main-block__account .main-block__account-favorites {
        width: 610px;
    }
    .main-block__account-favorites .good-in-favorites__elements-row,
    .main-block__account-favorites .good-in-favorites__elements-row__bottom {
        width: 415px;
    }
    .main-block__account-favorites .product-name a {
        width: 360px;
    }
    .good-in-favorites__link.discount {
        margin-left: 3px;
    }
    .good-in-favorites__elements-row__bottom .selling-block__event-icons .selling-block__event-icon:nth-child(2n) {
        margin-right: 0;
    }
    .additional-blocks__account .account-preview__client-image {
        padding: 30px 20px 20px 20px;
    }
    .additional-blocks__account .account-preview__client-info,
    .additional-blocks__account .account-preview__client-contacts {
        padding: 20px 20px 20px 20px;
    }
    .additional-blocks__account .btn {
        width: 250px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 991px) {
    .good-in-favorites__elements-row__bottom .selling-block__event-icons .selling-block__event-icon:nth-child(3) {
        display: inline-block;
        margin-left: 14px;
    }
    .main-block__account {
        margin-bottom: 40px;
    }
    .main-block__account-navbar ul {
        padding-left: 45px;
    }
    .main-block__account .main-block__account-favorites {
        width: 100%;
    }
    .main-block__account-favorites .good-in-favorites__elements-row,
    .main-block__account-favorites .good-in-favorites__elements-row__bottom {
        width: 500px;
    }
    .additional-blocks__account .account-preview__client-image {
        padding: 30px 0 20px 0;
    }
    .additional-blocks__account .account-preview__client-info,
    .additional-blocks__account .account-preview__client-contacts {
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        padding: 20px 45px 20px 45px;
    }
    .additional-blocks__account .btn-wrapper {
        text-align: center;
    }
    .additional-blocks__account .btn {
        width: 260px;
        margin: 20px 0 20px 0;
    }
    .additional-blocks__account .contacts-block {
        margin-top: 40px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 767px) {
    .main-block__account-navbar ul {
        padding-left: 17.5px;
    }
    .main-block__account .main-block__account-favorites {
        width: 510px;
    }
    .main-block__account-favorites .good-in-favorites__elements-row {
        width: 100%;
    }
    .product-name {
        margin-right: 20px;
    }
    .main-block__account-favorites .product-name a {
        width: 270px;
    }
    .main-block__account-favorites .good-in-favorites__elements-row__bottom.desktop {
        flex-flow: row wrap;
        width: 100%;
    }
    .good-in-favorites__price-wrapper del bdi {
        top: -2px;
    }
    .main-block__account-testimonials .testimonial-wrapper {
        padding: 30px;
    }
    .elements-bundle:first-child a.testimonial_product-name {
        margin-right: 20px;
    }
}

/* 490px - 576px */
@media screen and (max-width: 575px) {
    .main-block__account .main-block__account-favorites {
        width: 100%;
    }
    .main-block__account-favorites .product-name a {
        width: 100%;
    }
    .main-block__account-favorites .good-in-favorites__price-wrapper {
        margin-right: 25px;
    }
}

/* 490px - 505px */
@media screen and (max-width: 505px) {
    .account-order__detail .detail-descr__price-summary {
        display: none;
    }
    .main-block__account-favorites .account-favorites__added-btn {
        margin-left: 0;
        width: 100%;
    }
    .account-order .account-order__row-top {
        display: block;
    }
    .account-order .account-order__descr {
        margin-top: 15px;
    }
    .account-order__detail .detail-descr__amount {
        margin-left: 30px;
    }
    .testimonial-elements_container .elements-bundle:first-child {
        display: block;
    }
    .elements-bundle:first-child a.testimonial_product-name {
        margin-right: 0;
    }
    .elements-bundle:first-child p.testimonial-date {
        margin: 2px 0 0 0;
    }
    .testimonial-elements_container .elements-bundle:nth-child(2) {
        margin-top: 7px;
    }
}

/* 425px - 490px */
@media screen and (max-width: 490px) {
    .good-in-favorites__link {
        margin: 12.5px 0 0 0;
    }
}

/* 320px - 425px */
@media screen and (max-width: 424px) {
    .main-block__account-favorites .good-in-favorites__elements-row__bottom.desktop,
    .testimonial-wrapper .elements-bundle:nth-child(2) {
        display: none;
    }
    .main-block__account-favorites .good-in-favorites__elements-row__bottom.mobile {
        display: block;
    }
    .ui-elements__account {
        padding: 7.5px 0 25px 0;
    }
    .main-block__account-favorites .account-favorites__summary {
        padding: 17px 22.5px 30px 22.5px;
    }
    .main-block__account-favorites .info-content__title {
        font-size: 16px;
    }
    .main-block__account-favorites .notification {
        margin-top: 20px;
    }
    .main-block__account-favorites .good-in-favorites__content {
        margin: 30px 22.5px 30px 22.5px;
        display: block;
    }
    .main-block__account-favorites .good-in-favorites__basic-part {
        display: flex;
    }
    .main-block__account-favorites .good-in-favorites__img {
        width: 60px;
        height: 60px;
    }
    .main-block__account-favorites .good-in-favorites__img img {
        width: 60px;
        height: 60px;
    }
    .main-block__account-favorites .product-name a {
        font-size: 14px;
    }
    .main-block__account-favorites .good-in-favorites__delete-icon {
        margin-top: 0;
    }
    .main-block__account-favorites .account-favorites__added__bottom-elements {
        padding: 30px 20px 30px 20px;
    }
    .main-block__account-favorites .good-in-favorites__price-wrapper {
        margin: 0 10px 0 0;
    }
    .good-in-favorites__price-wrapper del bdi {
        top: -11px;
    }
    .main-block__account-favorites .good-in-favorites__elements-wrapper {
        margin-left: 20px;
    }
    .main-block__account-favorites .good-in-favorites__elements-row__bottom.mobile {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        margin-top: 15px;
    }
    .main-block__account-favorites .good-in-favorites__price-wrapper {
        margin-right: 0;
    }
    .main-block__account-favorites .good-in-favorites__link {
        font-size: 13px;
        margin: 3px 0 0 auto;
    }
    .main-block__account-favorites .account-favorites__added-btn span {
        display: none;
    }
    .account-preview .account-preview__client-image {
        width: 100%;
        padding: 30px 20px 20px 20px;
    }
    .account-preview .account-preview__client-contacts,
    .account-preview .account-preview__client-info {
        padding: 20px;
    }
    .account-preview .btn {
        width: 87%;
        margin: 20px;
    }
    .main-block__account-orders .account-order {
        padding: 30px 20px 30px 20px;
    }
    .main-block__account-orders .account-order__title {
        font-size: 19px;
    }
    .main-block__account-orders .account-order__date-wrapper {
        font-size: 12px;
    }
    .main-block__account-orders .account-order__descr {
        font-size: 14px;
    }
    .account-order__detail img {
        width: 40px;
        height: 40px;
    }
    .account-order__detail .detail-descr {
        margin-left: 15px;
    }
    .account-order__detail .detail-descr__name {
        font-size: 14px;
        margin-top: 0;
    }
    .account-order__detail .detail-descr__price {
        font-size: 14px;
    }
    .account-order__detail .detail-descr__amount {
        font-size: 14px;
        margin-left: 20px;
    }
    .detail-descr__amount .square {
        height: 20px;
    }
    .main-block__account-edit .account-initials,
    .main-block__account-edit .account-contacts,
    .main-block__account-edit .account-password,
    .main-block__account-edit .account-confirmation {
        padding: 30px 20px 30px 20px;
    }
    .account-favorites__none,
    .main-block__account-orders .account-orders__empty,
    .main-block__account-testimonials .account-testimonials__empty {
        padding: 30px 20px 30px 20px;
        font-size: 14px;
    }
    .main-block__account-orders .account-orders__empty .btn {
        width: 100%;
        height: 40px;
        padding: 7.5px;
        font-size: 15px;
    }
    .testimonial-wrapper .elements-bundle.mobile {
        display: block;
        margin-top: 15px;
    }
    .testimonial .testimonial_image {
        width: 60px;
        height: 60px;
    }
    .testimonial .testimonial-elements_container {
        margin-left: 20px;
    }
    .elements-bundle:first-child a.testimonial_product-name {
        font-size: 15px;
    }
    .elements-bundle:first-child p.testimonial-date {
        font-size: 13px;
    }
}

/* 320px - 365px */
@media screen and (max-width: 365px) {
    .account-preview .account-preview__client-contacts,
    .account-preview .account-preview__client-info {
        width: 100%;
    }
}